<style>
    /* CSS overrides to customize Hyde theme */

    body {
        background-color: #222;
        color: #ddd;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #ddd;
    }

    code {
        /* color = themme sidebar color */
        color: #90a599;
        background-color: #444;
    }

    strong {
        color: inherit;
    }

    .sidebar {
        color: #3336;
    }

    .sidebar a {
        color: #383838;
    }

    @media (min-width: 48em) {
        .sidebar {
            width: 20rem;
        }
    }

    .sidebar-about h1 {
        color: #383838;
        font-family: Merriweather, serif;
    }
</style>
