<style>
    /* CSS overrides to customize Hyde theme */

    body {
        background-color: #222;
        color: #ddd;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #ddd;
    }

    code {
        /* color = themme sidebar color */
        color: #90a599;
        background-color: #444;
    }

    strong {
        color: inherit;
    }

    .theme-base-0b .sidebar {
        background-color: rgba(140, 140, 140, 0.26);
        color: #c8c8c8ff;
    }

    .sidebar a {
        color: #d5d5d5;
    }

    @media (min-width: 48em) {
        .sidebar {
            width: 20rem;
        }
    }

    .sidebar-about h1 {
        color: #d5d5d5;
        font-family: Merriweather, serif;
    }

    .theme-base-0b .content a, .theme-base-0b .related-posts li a:hover {
        color: #d5d5d5;
    }

    code {
        color: #da8c57;
    }

    .sunset {
        /* sizing */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        /* styling */
        background: linear-gradient(#111 10%, #404 85%, #813);
    }
</style>
