@layer base {
    body {
        color: #eee;
        font-family: system-ui, Helvetica, sans-serif;
    }

    faint-text {
        color: #fff5;
    }

    main {
        margin: 2rem;
    }

    a, a:visited {
        /* Color based on the top of the mountain image, but brighter */
        color: #EC7570;
    }

    @media (min-width: 720px) {
        body {
            /* This is to center the <main> element horizontally */
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main {
            max-width: 74ch;
        }
    }
}

@layer components {
    .sunset {
        /* sizing */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        /* styling */
        background: linear-gradient(#111 10%, #404 85%, #813);
    }

    .mountains {
        position: fixed;
        left: 0;
        bottom: 0;

        /* These keep the mountains roughly the same height
        no matter what the screen width is. */
        width: 240vw;
        max-width: 880px;
    }

    @media (min-width: 880px) {
        .mountains {
            width: 100%;
            max-width: unset;
        }
    }

    .title-footer {
        position: fixed;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1.5rem;

        font-family: Monaco, monospace;
        font-size: x-large;
        text-transform: lowercase;
    }
}

@layer overrides {
    .no-wrap {
        white-space: nowrap;
    }
}
