<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>page title</title>
  <!-- TODO: Show description, if available -->
  <!-- <meta name="description" content="" /> -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

  <!-- Icons -->
  <!-- TODO: make a new one -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png"> -->
  <!-- <link rel="shortcut icon" href="/favicon.png"> -->

  <!-- RSS etc -->
  <!-- TODO: Generate an RSS feed -->
  <!-- <link href="%s" rel="%s" type="%s" title="%s" /> -->
</head>
<body>
  <div class="sunset"></div>
  <div class="title-footer">
    <faint-text class="no-wrap">&lt;!--</faint-text> Tyler Mumford's Little&nbsp;Corner of&nbsp;The&nbsp;Web&nbsp;<faint-text class="no-wrap">--&gt;</faint-text>
  </div>
</body>
</html>
