<!DOCTYPE html>
<html>
{% include "head-element.html" %}

<body>
{% include "body-first-children.html" %}

<main>
  {%- set post_section = get_section(path="post/_index.md") -%}
  {%- set recent = post_section.pages[0] -%}

  <p>
    <b>Most recent post:</b> <a href={{recent.permalink}}>{{ recent.title }}</a>
  </p>

  <h3 class="visually-hidden">Summary:</h3>

  <blockquote>{{recent.summary | safe}}</blockquote>

  <p>All posts</p>
  <ul>
  {% for post in post_section.pages %}
    <li><a href={{post.permalink}}>{{post.title}}</a></li>
  {% endfor %}
  </ul>

</main>

{% include "body-last-children.html" %}
</body>
</html>
