<!DOCTYPE html>
<html>
{% include "head-element.html" %}

<body>
{% include "body-first-children.html" %}

<main>
  <p>Most recent post</p>
  {%- set post_section = get_section(path="post/_index.md") -%}
  {%- set recent = post_section.pages[0] -%}
  <a href={{recent.permalink}}>{{ recent.title }}</a>
  <p>Summary: {{recent.summary | safe}}</p>

  <p>All posts</p>
  <ul>
  {% for post in post_section.pages %}
    <li><a href={{post.permalink}}>{{post.title}}</a></li>
  {% endfor %}
  </ul>

</main>

{% include "body-last-children.html" %}
</body>
</html>
